# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Arduino IDE
*.hex
*.elf
build/

# ملفات الوسائط (محلياً فقط)
pc/*.mp3
pc/*.mp4
pc/*.mkv
pc/*.wav
pc/videos/*.mp4
pc/videos/*.mkv
pc/videos/*.mov
pc/*.jpg
pc/*.jpeg
pc/*.png

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
